h1 {
  text-align: center;
  font-size: 40px;
  color: #f66;
  font-family: cursive;
}

h2 {
  text-align: center;
}

.links {
  text-align: center;
}

.container {
  background-image: url("../img/isles.jpg");
  min-height: 98vh;
}
/*
.img {
  position:relative;
  z-index: 1;
  margin: auto;
}

.contacttxt {
  position: absolute;
  z-index: 2;
  text-align: center;
  margin: auto;
}
*/
.mainContainer {
	position: relative;
}
.absoluteContainer {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	margin-left: auto;
 	margin-right: auto;
	max-width: 50%;
}

.orca {
  width: 1000px;
}
